# Build artifacts
bin/
obj/
artifacts/
*.user

# Rider / Visual Studio
.vs/
.idea/
*.suo

# Sistema
Thumbs.db
.DS_Store

# Publish output
publish/
*.exe
!installer/**

# Instalador
installer/*.exe

# Test results
TestResults/
*.trx
